<div id="<%= dom_id profile %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= profile.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Username:</strong>
    <%= profile.username %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Display name:</strong>
    <%= profile.display_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Bio:</strong>
    <%= profile.bio %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile image:</strong>
    <%= profile.profile_image %>
  </div>
</div>
